<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socialnexus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.socialnexus.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.socialnexus.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.socialnexus.RegisterActivity"
            android:label="@string/title_activity_register"
            android:launchMode="singleTask"
            android:process=":register" >

        </activity>
        <activity 
			android:name="com.socialnexus.SplashActivity"
			android:label="@string/title_activity_splash"
			android:launchMode="singleTask"
			android:process=":register" >
			<intent-filter>
				<data android:scheme="social-nexus-android" />
			</intent-filter>
        </activity>        
    </application>
</manifest>